header
    display: flex

    #compName
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ul
        display: flex
        list-style: none
        padding: 0
        flex-direction: row
        justify-content: space-evenly
        position: absolute
        right: 2rem
        
        .buttonsWrap
            display: flex
            gap: 1rem
        #button1
            border: 1px solid #999
            border-radius: 99px
            a
                color: #1759a5
                font-weight: bold

                
        #button2
            background-color: #1759a5
            border-radius: 99px
            color: #f4f4f4
            &:hover
                  background-color: #f9f9f9  
                  cursor:pointer
                  

            a
                font-weight: bold
                
                &:hover
                    color: #1759a5
                


        li
            padding: 1rem



            a
                text-decoration: none
                color: black
                padding-inline: .5rem
                border-radius: 9px
                padding-bottom: .25rem
            &:hover
                background-color: #f9f9f9
                    
               