@font-face{
  font-family: "ITC";
  src: url('./ITC Franklin Gothic Heavy Oblique.otf');
}


.header-wrap{
  background-color: #7a7a7a;
  height: 22vh;
  display: flex;
  flex-direction: column;
}
.header-wrap h1{
  font-family:"ITC", sans-serif;
  font-size: 3.5rem;
  color: #fff;
  padding: .75rem;
  letter-spacing: -.25rem;
}
.copy{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  top: -53px;
  left: 228px;
  width: 25px;
  height: 25px;
}
.global-navigation{
  font-family: sans-serif;
  position: relative;
  top: -1.25rem;
  left: 1rem;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.global-navigation ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 1rem;
  
}
.global-navigation-list li{
  border-right: 1px solid #fff;
  padding-inline: 1rem;
}

.global-navigation-list li:hover{
  background-color: #5f5f5f;
  cursor: pointer;
}