.aside-wrap{
  background-color: #d6d6d6;
  width: 18vw;
  font-family: "Host Grotesk", sans-serif;
  letter-spacing: -.025rem;
  display: flex;
  flex-direction: column;
  min-width: 235px;
}

.aside-wrap ul{
  padding: 1rem;
  list-style: none;
  font-weight: 800;
  border-bottom: 1px solid grey;
}
.aside-wrap li{
  font-weight: 325;
  padding-left: .25rem;
}
.search-wrap{
  border-top: 1px solid #fefefe;
  background-color: #7a7a7a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  
}
.search-wrap p{
  font-weight: 300;
  padding-bottom: .25rem;
}

.input-button{
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

#search{
  margin-inline: .25rem;
  inset: 2px 2px 2px 2px;
}
.search-go-button{
  font-family: sans-serif;
  padding: .25rem;
  border-radius: 0px;
  box-shadow: 2px 1px 0px 0px rgba(0,0,0, 1);
  border-top: 2px solid #ededed;
  border-left: 1px solid #ededed;
  border-bottom: 2px solid #7a7a7a;
  border-right: 2px solid #7a7a7a;
  background-color: rgb(214, 214, 214)
}
.search-go-button:hover{
  background-color: #7a7a7a;
  border-top: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px rgba(255,255,255, 1);
}
.search-wrap a{
  color: #fff;
  padding-top: .5rem;
  font-weight: 300;
  text-underline-offset: .25rem;
}