@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.hero-wrapper{
  background: linear-gradient(180deg, #FFF3E0 0%, #8D6E63 56%);
  overflow-x: hidden;
}

.hero-wrapper h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF3E0;
  text-shadow: -2px 2px 4px #8D6E63;
  font-size: 4rem;
}
.wagon-img{
 
 
}

.hero-left{
  color: #FFF3E0;
  text-shadow: -2px 2px 4px #8D6E63;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 38px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  position: relative;
  white-space: nowrap;
}

.cta-hero{
  padding: 2rem 3rem;
  border-radius: 99px;
  font-weight: 600;
  background-color: #fff3e0;
  color: #59482f;
  border: 1px solid transparent;
  font-size: 2rem;
  white-space: nowrap;
  transition: .3s ease-in-out;
  position: relative;

}
.cta-hero:hover{
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #fff3e0;
  box-shadow: #FFF3E0 1px 1px 50px 6px;
  color: #8D6E63;

}

.content-split-for-desktop{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: center;

}
@keyframes pulsate{
  0% {color: #fff3e0;}

  50% {color: #8D6E63;}

  100% {color: #fff3e0;}
}
.set-pulsate{
  color: #fff;
  animation-name: pulsate;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 789px){
.hero-wrapper h1 {
  font-size: 2.5rem;
}
.content-split-for-desktop{
  width: 75vw;
  justify-content: center;
  flex-direction: column;
}
.hero-left{
  justify-content: center;
  z-index: 1;
  padding-top: 40vh;
}
.hero-text{
  padding-top: 20vh;
 justify-content: center;
 font-size: 2rem;

}
.wagon-img{
  order: 1;
  height: 55vh;
  position: relative;
  left: -125px;
  top: -100vh;
  z-index: 0;
}

.cta-hero{
  position: relative;
  order: 0;
  font-size: 1.5rem;
  width: fit-content;
 
}

}
