@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

.hero-wrapper{
  background: linear-gradient(180deg, #FFF3E0 0%, #8D6E63 56%);
  overflow-x: hidden;
  z-index: -1;
}
.blob{
  position: absolute;
  width: 100vw;
  left: -50vw;
  top: -20vh;
  opacity: 40%;
  z-index: 0;
}
.blob2{
  position: absolute;
  rotate: 90deg;
  width: 120vw;
  right: -70vw;
  top: -80vh;
  opacity: 50%;
  z-index: 0;
}
.blob3{
  position: absolute;
  rotate: 50deg;
  width: 110vw;
  opacity: 50%;
  z-index: 0;
}

.hero-wrapper h1{
  font-family: "Host Grotesk", sans-serif;
  font-weight: 800;
  text-transform: lowercase;
  color: #FFF3E0;
  text-shadow: -2px 2px 4px #8D6E63;
  font-size: 7rem;
}
.wagon-img{
  z-index: 1;
 
}

.hero-left{
  color: #FFF3E0;
  text-shadow: -2px 2px 4px #8D6E63;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 800;
  text-align: left;
  font-size: 3rem;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.hero-text{
  font-weight: 900;
  font-optical-sizing: auto;
}

.cta-hero{
  padding: 0;
  width: 30rem;
  height: 5rem;
  border-radius: 99px;
  font-weight: 600;
  background-color: #fff3e0;
  color: #59482f;
  border: 1px solid transparent;
  font-size: 2rem;
  white-space: nowrap;
  transition: .3s ease-in-out;
  position: relative;

}
.cta-hero:hover{
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #fff3e0;
  box-shadow: #FFF3E0 1px 1px 50px 6px;
  color: #8D6E63;

}

.content-split-for-desktop{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: center;

}
@keyframes pulsate{
  0% {color: #fff3e0;}

  50% {color: #8D6E63;}

  100% {color: #fff3e0;}
}
.set-pulsate{
  color: #fff;
  animation-name: pulsate;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 789px){

.hero-wrapper{
  z-index: -1;
}
  .hero-wrapper h1 {
  font-size: 2.5rem;
}
.blob{
  top: 0;
  z-index: 0;
}
.content-split-for-desktop{
  
  justify-content: center;
  flex-direction: column;
}
.hero-left{
  justify-content: center;
  z-index: 2;
  padding-top: 40vh;
}
.hero-text{
  padding-top: 20vh;
 justify-content: center;
 font-size: 2rem;

}
.wagon-img{
  order: 1;
  position: relative;
  left: -9rem;
  top: -90vh;
  z-index: 1;
}

.cta-hero{
  position: relative;
  left: -2rem;
  order: 0;
  font-size: 1.5rem;
  width: 23rem;
 
}

}
