@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.hero-wrapper{
  background: linear-gradient(180deg, #FFF3E0 0%, #8D6E63 56%);
}

.hero-wrapper h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF3E0;
  text-shadow: -2px 2px 4px #8D6E63;
  font-size: 4rem;
}
.wagon-img{
 
 
}

.hero-left{
  color: #FFF3E0;
  text-shadow: -2px 2px 4px #8D6E63;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 38px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  position: relative;
  top: -100px;
}

.cta-hero{
  padding: 2rem 4rem;
  border-radius: 99px;
  font-weight: 600;
  background-color: #fff3e0;
  color: #a8e6a3;
  border: 1px solid transparent;
  font-size: 28px;
  white-space: nowrap;
  transition: .3s ease-in-out;
  position: relative;
  left: -25vw;
  top: -10rem;
}
.cta-hero:hover{
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #c9c9c9;
  box-shadow: #FFF3E0 1px 1px 50px 6px;
  color: #fff3e0;

}

.content-split-for-desktop{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: center;

}

@media screen and (max-width: 789px){
.hero-wrapper h1 {
  font-size: 2.5rem;
}
.content-split-for-desktop{
  width: 100%;
}
  .hero-left{
  display: none;
}
.wagon-img{
  height: 55vh;
}

.cta-hero{
  position: relative;
  left: 0;
  top: 0;
}

}
